/* Establecer la imagen de fondo y su posición */
.bg0 {
    background-image: url(../images/food.jpg);
    background-position: center center;
}
.bg1 {
    background-image: url(../images/food_U.jpg);
    background-position: center center;
}
body{
            background: #ffe259;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
