<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Plato</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../css/style.css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"
        ><img src="../../../../images/logoW.png" alt="" width="196" height="47"
        /></a>
        <div
                class="offcanvas offcanvas-end text-bg-dark"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
        >
            <div class="offcanvas-header">
                <a class="navbar-brand" href="/"
                ><img src="../../../../images/logoW.png" alt="" width="196" height="47"
                /></a>
                <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"
                        >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex" role="search">
                    <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                    />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>

<h2 class="mt-4">Actualizar Plato</h2>

<form th:action="@{'/admin/menu/editPlate/' + ${plate.get().id}}" method="post">

    <input type="hidden" th:field="*{id}">

    <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" class="form-control" th:value="${plate.get().name}" required>
    </div>

    <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" class="form-control" th:text="${plate.get().description}" required></textarea>
    </div>

    <div class="form-group">
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" class="form-control" th:value="${plate.get().price}" required>
    </div>

    <div class="form-group">
        <label for="categories">Categorias:</label>
        <select id="categories" name="categories" class="form-control" >
            <option th:each="category : ${allCategories}" th:value="${category.id}" th:text="${category.name}"></option>

        </select>
    </div>

    <div class="mb-3">
        <label for="ingredients" class="form-label">Ingredientes</label>
        <div th:each="ingredient: ${ingredients}">
            <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
            <label th:for="${'ingredients-' + ingredient.id}" th:text="${ingredient.name}"></label>

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

</body>
</html>