<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Index" />
        <meta name="author" content="Johann Amaya" />
        <title>Food Express</title>
        <link rel="icon" href="../images/logo.ico" type="image/x-icon" />
        <!-- CSS -->
        <link
                th:href="@{/css/style.css}"
                rel="stylesheet"
                href="../css/style.css"
        />
        <link
                th:href="@{/css/bootstrap.min.css}"
                rel="stylesheet"
                href="../css/bootstrap.min.css"
        />
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
                integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        />
    </head>
    <div id="liveAlertPlaceholder"></div>
    <body>
    <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"
                ><img src="../images/logoW.png" alt="" width="196" height="47"
                /></a>
                <div
                        class="offcanvas offcanvas-end text-bg-dark"
                        tabindex="-1"
                        id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel"
                >
                    <div class="offcanvas-header">
                        <a class="navbar-brand" href="/"
                        ><img src="../images/logoW.png" alt="" width="196" height="47"
                        /></a>
                        <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about-us">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a
                                            class="nav-link"
                                            th:href="${link} ? '/userInfo' : '/login'"
                                            th:text="${username} ?  ${username} : 'Login'"
                                    ></a>
                                </li>
                            </ul>
                        </div>
                        <form class="d-flex" role="search">
                            <input
                                    class="form-control me-2"
                                    type="search"
                                    placeholder="Search"
                                    aria-label="Search"
                            />
                            <button class="btn btn-outline-success" type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mt-8">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="userview" th:if="${order}">
                                <div class="informacion mb-3">
                                    <label class="fw-bold">Numero Factura</label>
                                    <p th:text="'FoodExprees_'+ ${numFactura}"></p>
                                </div>
                                <div class="informacion mb-3">
                                    <label class="fw-bold">Fecha:</label>
                                    <p th:text="${order.fecha}"></p>
                                </div>
                                <div class="informacion mb-3">
                                    <label class="fw-bold">Usuario:</label>
                                    <p th:text="${order.idUsuario}"></p>
                                </div>
                                <div class="informacion mb-3">
                                    <label class="fw-bold">Precio</label>
                                    <p th:text="${order.price}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>