<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Página principal de Food Express" />
        <meta name="author" content="Johann Amaya" />
        <title>Food Express</title>
        <link rel="icon" href="../images/logo.ico" type="image/x-icon" />
        <!-- CSS -->
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/userview.css}" rel="stylesheet" />

    </head>

    <body>
    <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="../images/logoW.png" alt="" width="196" height="47"/></a>
                <div
                        class="offcanvas offcanvas-end text-bg-dark"
                        tabindex="-1"
                        id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel"
                >
                    <div class="offcanvas-header">
                        <a class="navbar-brand" href="/"
                        ><img src="../images/logoW.png" alt="" width="196" height="47"
                        /></a>
                        <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/"
                                >Home</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about-us">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/userInfo" th:text="${username} ?  ${username} : 'Login'"></a>
                                </li>
                            </ul>
                        </div>
                        <form class="d-flex" role="search">
                            <input
                                    class="form-control me-2"
                                    type="search"
                                    placeholder="Search"
                                    aria-label="Search"
                            />
                            <button class="btn btn-outline-success" type="submit">
                                Search
                            </button>
                        </form>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-success" type="submit">Cerrar Cesion</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <form th:action="@{/update}" th:object="${user}" method="POST">
            <input type="hidden" th:field="*{email}" />
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}" required>
            </div>
            <div class="form-group">
                <label for="password">Nueva Contraseña:</label>
                <input type="text" class="form-control" id="password" name="password" aria-describedby="password-toggle" required>
            </div>
            <button class="btn btn-outline-success" type="submit">Actualizar informacion</button>
        </form>

    </body>
</html>