    #formulario{
        width: 200px;
        height: 250px;
        border: 3px cyan solid;
        padding: 20px 20px;
        vertical-align: middle;
        float: left;
        display: flex;
        align-items: center;
    }

    #titulo{
        background-color: red;
        text-align: center;
    }