<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Login de Food Express" />
    <meta name="author" content="Johann Amaya" />
    <title>Forgot password</title>
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <!-- Barra de navegación -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="index.html"
            ><img src="../images/logoW.png" alt="" width="196" height="47"
          /></a>
          <div
            class="offcanvas offcanvas-end text-bg-dark"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <a class="navbar-brand" href="index.html"
                ><img src="../images/logoW.png" alt="" width="196" height="47"
              /></a>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact-us.html">Contact</a>
                </li>
              </ul>
              <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" href="login.html">Login</a>
                  </li>
                </ul>
              </div>
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Container-->
    <div class="container w-75 bg-primary mt-5 rounded shadow">
      <div class="row align-items-center align-items-stretch">
        <div class="col bg-white p-5 col-lg-7 col-xl-6 rounded-end">
          <div class="text-end">
            <img src="../images/logo.png" alt="" style="width: 48px" />
          </div>
          <h2 class="fw-bold text-center pt-5 mb-5">Forgot Password</h2>

          <!-- Formulario de Forgot Password -->
          <form action="reset_password.php" method="POST">
            <div class="mb-4">
              <label for="email" class="form-label">Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                required
              />
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Reset Password
              </button>
            </div>

            <!-- Enlaces para "Register" y "Forgot password" en la misma línea -->
            <div class="my-3 row">
              <div class="col-md-6">
                <span
                  >Do you not have an account?
                  <a href="register.html">Register</a></span
                >
              </div>
              <div class="col-md-6 text-end">
                <span><a href="login.html">Back to Login</a></span>
              </div>
            </div>
          </form>

          <!-- Redes sociales -->
          <div class="container w-100 my-5">
            <div class="row">
              <div class="col">
                <div class="p-3">
                  <div class="border-bottom text-center" style="height: 0.9rem">
                    <span class="bg-white px-3">or</span>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <a
                    href="#"
                    class="btn btn-light d-flex gap-2 justify-content-center w-100"
                  >
                    <img
                      src="../images/google-icon.svg"
                      alt="google-icon"
                      style="height: 1.6rem"
                    />
                    <div class="fw-semibold text-secondary">
                      Continue with Google
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded bg2"
        ></div>
      </div>
    </div>

    <!-- Footer -->

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
