<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Página principal de Food Express" />
    <meta name="author" content="Johann Amaya" />
    <title>Order</title>
    <link rel="icon" href="../images/logo.ico" type="image/x-icon" />
    <!-- CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../css/style.css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .image-container {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
        }

        .image-container img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .content-container {
            padding: 20px;
        }

        .card {
            margin-bottom: 20px;
            border: none;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .btn-primary,
        .btn-danger,
        .btn-success {
            width: 100%;
        }
    </style>
</head>
<body>
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="${link}">
            <img src="../images/logoW.png" alt="" width="196" height="47" />
        </a>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <a class="navbar-brand" href="/client">
                    <img src="../images/logoW.png" alt="" width="196" height="47" />
                </a>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/client">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="${link} ? '/userInfo' : '/login'" th:text="${username} ?  ${username} : 'Login'"></a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div id="liveAlertPlaceholder"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <h2 class="display-4">¡Descubre tus Preferencias de Ingredientes!</h2>

            <div class="text-center image-container">
                <img src="../images/ingredients.jpg" alt="Ingredientes" class="img-fluid mt-4" style="max-width: 80%;" />
            </div>
        </div>
        <div class="col-md-5 content-container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <!-- Lista de preferencias actuales -->
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            Preferencias Actuales
                        </div>
                        <ul class="list-group list-group-flush">
                            <!-- Itera sobre las preferencias y muéstralas -->
                            <li th:each="preference : ${preferences}" class="list-group-item" th:text="${preference.name}">
                                Preferencia actual
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Lista de ingredientes no deseados-->
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            Alergias, restricciones y dietas
                        </div>
                        <ul class="list-group list-group-flush">
                            <!-- Itera sobre las preferencias y muéstralas -->
                            <li th:each="bannedIngredient : ${bannedIngredients}" class="list-group-item" th:text="${bannedIngredient.name}">
                                Disgusto actual
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <!-- Formulario para agregar preferencias -->
                    <div class="card">
                        <div class="card-header bg-success text-white">
                            Agregar Preferencias
                        </div>
                        <div class="card-body">
                            <!-- Dropdown para seleccionar nuevos ingredientes -->
                            <form th:action="@{/savePreferences}" th:method="post">
                                <div class="mb-3">
                                    <label for="ingredientIds">Selecciona tus Ingredientes:</label>
                                    <select multiple class="form-select" id="ingredientIds" name="ingredientIds">
                                        <!-- Itera sobre la lista de todos los ingredientes disponibles -->
                                        <option th:each="ingredient : ${allIngredients}" th:value="${ingredient.id}" th:text="${ingredient.name}">
                                            Nombre del Ingrediente
                                        </option>
                                    </select>
                                </div>
                                <!-- Botón para agregar preferencias -->
                                <button type="submit" class="btn btn-primary">Agregar Preferencias</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <!-- Formulario para eliminar preferencias -->
                    <div class="card">
                        <div class="card-header bg-danger text-white">
                            Eliminar Preferencias
                        </div>
                        <div class="card-body">
                            <!-- Lista de preferencias actuales con casillas de verificación -->
                            <form th:action="@{/deletePreferences}" th:method="post">
                                <ul class="list-group">
                                    <li th:each="preference : ${preferences}" class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="ingredientIds" th:value="${preference.id}" id="checkbox-${preference.id}">
                                            <label class="form-check-label" th:for="${'checkbox-' + preference.id}" th:text="${preference.name}"></label>
                                        </div>
                                    </li>
                                </ul>
                                <!-- Botón para eliminar preferencias -->
                                <button type="submit" class="btn btn-danger mt-2">Eliminar Preferencias Seleccionadas</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <!-- Formulario para agregar no deseados -->
                    <div class="card">
                        <div class="card-header bg-success text-white">
                            Tienes alguna alergia o restriccion dietetica?
                        </div>
                        <div class="card-body">
                            <!-- Dropdown para seleccionar nuevos ingredientes -->
                            <form th:action="@{/saveBannedIngredients}" th:method="post">
                                <div class="mb-3">
                                    <label for="ingredientIds">Selecciona tus Ingredientes:</label>
                                    <select multiple class="form-select" id="bannedIngredientIds" name="bannedIngredientIds">
                                        <!-- Itera sobre la lista de todos los ingredientes disponibles -->
                                        <option th:each="ingredient : ${allIngredients}" th:value="${ingredient.id}" th:text="${ingredient.name}">
                                            Nombre del Ingrediente
                                        </option>
                                    </select>
                                </div>
                                <!-- Botón para agregar no deseados -->
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <!-- Formulario para eliminar no deseados -->
                    <div class="card">
                        <div class="card-header bg-danger text-white">
                            Actualizando tus gustos?
                        </div>
                        <div class="card-body">
                            <!-- Lista de no deseados actuales con casillas de verificación -->
                            <form th:action="@{/deleteBannedIngredients}" th:method="post">
                                <ul class="list-group">
                                    <li th:each="bannedIngredient : ${bannedIngredients}" class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="bannedIngredientIds" th:value="${bannedIngredient.id}" id="checkbox-${bannedIngredient.id}">
                                            <label class="form-check-label" th:for="${'checkbox-' + bannedIngredient.id}" th:text="${bannedIngredient.name}"></label>
                                        </div>
                                    </li>
                                </ul>
                                <!-- Botón para eliminar no deseados -->
                                <button type="submit" class="btn btn-danger mt-2">Actualizar gustos</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agrega tus scripts de JavaScript y enlaces a bibliotecas JS aquí -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Jz7CEfNuUq7Fk9l4zj6pqc6bVi+O5/DvjN1q5EMWz2VfE3J" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>